<div id="homeContainer">
    <div class="whiteBordeerGlassBox">
        <div class="homeHeadContainer">
            <div class="row">
                <div class="col-md-auto">
                    <div class="avatarFrameonline">
                        <img id="homeAvatarPicture" [src]="user.avatar || 'assets/img/generic_avatar.png'">
                    </div>
                </div>
                <div class="col">
                    <b>{{user.nick}}</b>
                    <div>
                        <span>{{user.status}}</span>
                        <br/>
                        <span>< escribe un mensaje personal ></span>
                        <br/>
                        <a (click)="logOut()">Logout</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="whiteContainerPadded marto15">
        <div class="row">
            <div class="col">
                <input type="text" class="form-control" placeholder="Buscar Amigo" [(ngModel)]="query">
            </div>
            <div class="col-md-auto">
                <img (click)="open(content)" src="assets/img/logo_live_add.png" class="icon">
            </div>
        </div>
        <hr/>
        <b *ngIf="user && user.friends"> Amigos ({{user.friends.length}} / {{user.friends.length}})</b>
        <div class="disblo marbo5">
            <app-contact class="col-md-12" *ngFor="let user of user.friends" [uid]="user"></app-contact>
        </div>
    </div>
</div>

<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Enviar solicitud</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
    </div>
    <div class="modal-body">
        <div>
            <b>Ingresa email de tu amigo</b>
            <input type="email" class="form-control" placeholder="Email" [(ngModel)]="friendEmail" (keyup.enter)="sendRequest()">
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="sendRequest()">Guardar</button>
    </div>
</ng-template>
<hr>

<pre>{{closeResult}}</pre>